.layout {
  display: flex;
  height: 100vh;
  border-radius: 5%;
}

.sidebar {
  width: 200px;
  background: #075e6d;
  color: #fff;
  padding: 20px;
}

.sidebar a {
  color: white;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.content {
  padding: 20px;
  flex: 1;
  background: #f5f5f5;
}